:root{
    --cream-bg:#FFFCED;
    --button-primary: #23718F;
    --button-hover: #608F9F;
}

/* Button.css */
/* big full-width button in your brand blue */
.btn-custom {
    width: 100%;
    min-height: 64px;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--button-primary);
    color: var(--cream-bg);
    cursor: pointer;
}

.btn-custom:hover {
    background-color: var(--button-hover);
}