.page-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 80%;
    min-width: 350px;
    max-width: 800px;
    margin: 0 auto;
}