/* form itself full width of the card body */
.login-form {
    width: 100%;
}

/* off white inputs with subtle border radius and padding */
.login-form input{
    background-color: var(--cream-bg);
    padding: 0.75rem rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    text-align: center;
}

.login-form input::placeholder {
    color: var(--text-placeholder);
    text-align: center;
}

.login-form a
{
    font-weight: bold;
    color: var(--text_primary);
    text-decoration: none;
}