.navbar{
    background-color: #FFFBEC;
    border-bottom: 1 px solid #053747;
    padding: 0.5rem 1rem;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo-text{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: 053747;
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

.navbar-links a{
    text-decoration: none;
    color: #053747;
    font-weight: 500;
}

.navbar-links a:hover{
    color: #0A6D8F; /* Hover color */
}

.navbar-user-icon{
    font-size: 1.5rem; 
    color:#053747
}