.registration-form {
    width: 70%;
    margin: 0 auto;
}

/* off white inputs with subtle border radius and padding */
.registration-form input {
    background-color: var(--cream-bg);
    padding: 0.75rem rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    text-align: center;
}

.registration-form input::placeholder {
    color: var(--text-placeholder);
    text-align: center;
}

.registration-form a
{
    font-weight: bold;
    color: var(--text_primary);
    text-decoration: none;
}