
/* color variables */
:root{
  --cream-bg:#FFFCED;
  --text-primary:#053747;
  --text-hover:#608F9F;
  --border-color:#053747;
  --card-bg:#E1EEE8;
  --highlight-green:#68BD42;
}

/* Global Style */
body {
  background-color: var(--cream-bg);
  font-family: "Arial", sans-serif;
  color: var(--text-primary);
  margin: 0;  
  padding: 0;
}

