/* color variables */
:root{
  --cream-bg:#FFFCED;
  --card-bg:#E1EEE8;
  --drop-shadow:#C1BFB3;

  --text-primary:#053747;
  --text-hover:#608F9F;
  --text-placeholder: #9aa3a3;
  --text-title:#23718F;

  --profile-primary:#23718F;
  --profile-hover:#608F9F;

  --button-primary: #23718F;
  --button-hover:#608F9F;
  --button-secondary:#6ca0a3;

  --border-color:#053747;

  --highlight-green:#68BD42;
  --highlight-yellow:#FDD202;
  --highlight-red:#D02F40;

  --breakpoint-xsm:576px;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
  --breakpoint-xxl:1400px;
}

/* Global Style */
body {
  background-color: var(--cream-bg);
  font-family: "Arial", sans-serif;
  color: var(--text-primary);
  margin: 0;  
  padding: 0;
}

/* screen-reader only text */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


/* ───────── FOOTER ─────────*/
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;    /* ensures container fills the viewport */
}

.main-content {
  flex: 1;              /* pushes footer down */
}